<header class="header">
    <img src="../../assets/images/finallogo.png" class="imgq" style="height: 100px;width: 100px;" alt=""/>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
		 <ul class="menu">
  	<li><a class="nav-link" routerLink="/moneydonation" routerLinkActive="active">Donate now </a></li>
    <li> <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a class="nav-link" routerLink="/scholarship" routerLinkActive="active">scholarship</a></li>
    <li><a class="nav-link" routerLink="/summercamp" routerLinkActive="active">Summer Camp</a></li>
    <li><a class="nav-link" routerLink="/blooddonation" routerLinkActive="active">Blood Camp</a></li>
    <li><a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About Us</a></li>

         </ul>
  </header>
<br/>
<br/>
<br/>
<br/>
<br/>
