<app-header></app-header>
<div class="container-fluid"> 
    <div class="row" >
    <div class="col-3 ">
        <img src="../../assets/images/hands.jpg"  style="width:100%;height:100%"/>
    </div>
    
    <div class="col-9   blockquote" style="background-color:lightgrey;">
    <br>
    Seva comes from the heart. It is not a compulsion for anybody – it’s not that you have to do it, but you want to do it.…The greatest reward in seva is the contentment and happiness that you feel within, that you get an opportunity to serve someone. That is the greatest happiness one can ever get, to make someone happy.
    <div class="blockquote-footer">
    Spiritual Perspectives, Vol. II
    </div>
    </div>
    </div> </div>
   
   <br>
       <div class="container-fluid" style="background-color: #E0F0EA">
           <div class="row" >
               <div class="col-6 col-sm-4">
               <h1>200+</h1>
               Blood Donation Camps
               </div>
               <div class="col-6 col-sm-4">
               <h1>20K+</h1>
               Students given Scholarschip
               </div>
               <div class="col-6 col-sm-4">
               <h1>9M+</h1>
               Granted to Education
               </div>
           </div>
           <div class="row">
               <div class="col-6 col-sm-4">
               <h1>40+</h1>
               Agricultural tools
               </div>
               <div class="col-6 col-sm-4">
                    <h1>5K+</h1>
                    Our Family
                </div>
                    <div class="col-6 col-sm-4">
                            <h1>50+</h1>
                            Summer Camp
                           </div>
            </div>
        </div>
       <br>

       <app-footer></app-footer>