* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.imgq{
  margin-left: 1.5%;
  width: 150px;
  height: 80px;
}
#btndonation{
  color:#fff;
  padding: 10px 30px;
  font-size: 25px;
}
.btn-success:hover {
  color: #000;
}
#state{
  background-color: rgba(116, 207, 121, 1);
width: 2px;
content: "";
display: block;
position: absolute;
top: 0%;
bottom: 0%;
right:2%;
min-height: 7px;
}
@media (max-width:992px )
{
    #hidden{
      display:none;
    }
}
@media (max-width:992px )
{
    #hidden1{
      display:none;
    }
}
@media (max-width:768px )
{
    #hidden2{
      display:none;
    }
}


.bgslider{
 position: relative;
 width: 100%;
 height: 500px;
}
.bodypart{
  margin-top: 5px;
}
#imgbtn{
  position: relative;
  
}
#imgbtn button{
  position: absolute;
  left: 50%;
  transform: translate( -50% , 0%);
  
}
.fsection2{
  margin: 0% 14%;
}
.text-block {
  position: absolute;
  left: 5%;
  top: 50%;
    background-color: rgba(0, 0, 0, 0.37);
  color: white;
  padding: 4px 20px 50px 20px;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 15%;
  border-radius:10px;
}
#active{
	background-color:blue;
	border-radius:5px;
	color:white;
}

.fa {
  padding: 8px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}