<header class="header">
    <img src="../../assets/images/finallogo.png" class="imgq" style="height: 100px;width: 100px;" alt=""/>
         <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
     	<ul class="menu">
         <li> <a class="nav-link" routerLink="/adminhome" routerLinkActive="active">Home</a></li>
         <li> <a class="nav-link" routerLink="/adminmoneydonationlist" routerLinkActive="active">Money Donation</a></li>
         <li> <a class="nav-link" routerLink="/adminscholarshipapproval" routerLinkActive="active">Scholarship Approval</a></li>
         <li> <a class="nav-link" routerLink="/admingetagrotool" routerLinkActive="active">agro Management</a></li>
          <li><a class="nav-link" routerLink="/adminevents" routerLinkActive="active">Blood Camp</a></li>
         <li> <a class="nav-link" routerLink="/adminsummercamp" routerLinkActive="active">Summer Camp</a></li>
        </ul>
</header>
<br/>
<br/>
<br/>
<br/>
<br/>